.about#about
    .container.about__container
        section.about__info
            h2.about__title What Is Novel Coronavirus?
            p.about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus enim minus iste incidunt earum, maiores voluptas, saepe tempora eum, voluptatem ratione magnam recusandae suscipit odio! Consequuntur nesciunt dolor quasi voluptas!
            p.about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus enim minus iste incidunt earum, maiores voluptas, saepe tempora eum, voluptatem ratione magnam.
            button.btn.about__btn(type="button", aria-label="Узнать подробности насчет covid") Learn more
        picture.about__image
            img(src="./../../images/about.svg", alt="Перемещение вирусов на ногах")