include ./../helpers/expert.pug
.experts#experts
    .container.experts__container
        h3.title.experts__title
            |Meet our 
            span Experts
        .experts__content
            +expert('John Deo', 'Virus Expert', './../../images/doc1.png', './../../images/doc1.webp', './../../images/doc1.avif', 'Фото доктора')
            +expert('John Deo', 'Virus Expert', './../../images/doc2.png', './../../images/doc2.webp', './../../images/doc2.avif', 'Фото доктора')
            +expert('John Deo', 'Virus Expert', './../../images/doc3.png', './../../images/doc3.webp', './../../images/doc3.avif', 'Фото доктора')
            +expert('John Deo', 'Virus Expert', './../../images/doc4.png', './../../images/doc4.webp', './../../images/doc4.avif', 'Фото доктора')
