footer.footer
    .container.footer__container
        nav.footer__nav
            h5.footer__title Locations
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") India
                li.footer__item
                    a.footer__link(href="#") USA
                li.footer__item
                    a.footer__link(href="#") Japan
                li.footer__item
                    a.footer__link(href="#") France
                li.footer__item
                    a.footer__link(href="#") Russia
        nav.footer__nav
            h5.footer__title Quick Links
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#home") Home
                li.footer__item
                    a.footer__link(href="#about") About
                li.footer__item
                    a.footer__link(href="#prevent") Prevent
                li.footer__item
                    a.footer__link(href="#experts") Experts
                li.footer__item
                    a.footer__link(href="#contacts") Contacts
                li.footer__item
                    a.footer__link(href="#blog") Blog
        nav.footer__nav
            h5.footer__title Follow Us
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") Facebook
                li.footer__item
                    a.footer__link(href="#") Instagram
                li.footer__item
                    a.footer__link(href="#") Linkedin
                li.footer__item
                    a.footer__link(href="#") Twitter
        nav.footer__nav
            h5.footer__title Contact Info
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") +123-456-7890
                li.footer__item
                    a.footer__link(href="#") +111-222-3333
                li.footer__item
                    a.footer__link(href="#") ovhare4@gmail.com
                li.footer__item
                    address.footer__link Mumbai, india - 400104
