header.header
    .container.header__container
        picture.header__logo
            source(srcset="./../../images/logo.webp", type="image/webp")
            source(srcset="./../../images/logo.avif", type="image/avif")
            img(src="./../../images/logo.png", alt="Логотип компании Covid 19", height="", width="")
        nav.header__nav
            ul.header__list
                li.header__item.active
                    a.header__link(href="#") Home
                li.header__item
                    a.header__link(href="#") About
                li.header__item
                    a.header__link(href="#") Prevent
                li.header__item
                    a.header__link(href="#") Experts
                li.header__item
                    a.header__link(href="#") Contacts
                li.header__item
                    a.header__link(href="#") Blog