.intro
    .container.intro__container
        picture.intro__image
            img(src="./../../images/home.svg", alt="Женщина-защитник сражающая против Covid", height="150", width="150")
        section.intro__info
            p.intro__subtitle stay home, stay safe
            h1.intro__title Protect Yourself From Covid-19
            button.btn.intro__btn(type="button", aria-label="Переход на основную информацию") Learn more