extends ./pages/layouts/main

block variables
    - const title = "Covid 19";

block content
    include ./pages/partials/header.pug
    main.main
        include ./pages/partials/intro.pug
        include ./pages/partials/about.pug
        include ./pages/partials/prevent.pug
        include ./pages/partials/experts.pug
        include ./pages/partials/contacts.pug
        include ./pages/partials/blog.pug
    include ./pages/partials/footer.pug

